// Define variables for your color scheme

// For example:

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Equals colors:

$purple-text: #6200DE;
$purple-elements: rgba(91, 13, 190, 0.65);
$purple-other: #c29ef1;
$green-text: #1c6a75;
$grey-text: grey;
$green-elements: #39375B;
$back-screen: #ececec; // couleur du fonds d'écran sur la HP

