$width-navbar: 47px;

body {
  background-color: white;
}

.container-full-screen-search {
  height: 80vh;
  top: -10vh;
  width: 100%;
  position: absolute;
  top: 0px;
}

.carousel-control-next {
  background: none;
  height: 50%;
  margin: auto 20px;
}

.carousel-control-next-icon {
  background: none;
}

.icon-next {
  color: $purple-text;
  font-size: 40px;
}

.carousel {
  height: 100vh;
  width:100%;
  z-index: 0;
  position: absolute;
  top: 0px
}
.carousel-inner {
  height: 100vh;
  width:100%;
  z-index: 0;
  position: absolute;
  top: 0px;
}

.carousel-item {
  height: 100vh;
  width:100%;
  z-index: 1;
  position: absolute;
  top: 0px;
}

.full-screen-picture {
  position: absolute;
  height: 100vh;
  top: 0px;
  width:100%;
  z-index: 0;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

#megane {
  background-image: url(https://res.cloudinary.com/dtadudbob/image/upload/v1606996704/megane_copy_imjfwm.png);
}

#gisele {
  background-image: url(https://res.cloudinary.com/dtadudbob/image/upload/v1606999659/gisele_copy_j9iz5e.png);
}

#alexandra {
  background-image: url(https://res.cloudinary.com/dtadudbob/image/upload/v1606999228/alexandra_copy_nenjyb.png);
}

#jane {
  background-image: url(https://res.cloudinary.com/dtadudbob/image/upload/v1607000005/jane_zxeois.png);
}

#katherine {
  background-image: url(https://res.cloudinary.com/dtadudbob/image/upload/v1607000310/katerine_jo66ma.png);
}

.container-searchbar {
  margin-top: 10vh;
}

#counter {
  color: $purple-text;
  font-weight: 500;
  font-size: 27px;
}

#sentence {
  text-align: center;
  width: 300px;
}

.green-text {
  font-weight: 500;
  color: $green-text;
}

.text-under-search {
  margin-top: 50px;
  font-weight: 300;
}

.legend-size { // pour la légende sur la page d'accueil pour la photo
  width: 50%;
  border-radius: 10px;
  border: 1px solid #c1c1c1;
  position: absolute; // par rapport au container
  bottom: 10px;
  right: 200px;
  padding: 20px;
  font-weight: 300;
}

.legend-size h2 { // pour la légende sur la page d'accueil pour la photo
  font-size: 32px;
}

.legend-size p { // pour la légende sur la page d'accueil pour la photo
  font-size: 15px;
}

#image-one {
  left: 0;
  height: 300px;
  width: 300px;
  right: 0;
  border-radius: 10px;
  background-color: grey
}

#image-two {
  position: absolute;
  background-color: grey;
  border-radius: 10px;
  right: 0;
  height: 300px;
  width: 300px;
}

.container-cards {
  margin: auto;
  width: 70%;
  height: 400px;
  display: flex;
  justify-content: space-between;

}

.container-text {
  width: 60%;
  margin: auto auto;
  margin-left: 80px;
  p {
    margin-top: 20px;
  }
}

#container-text-two {
  margin-left: 10px;
}

.title {
  font-weight: 500;
  color: $green-text;
}

.text {
  font-weight: 300;
}

#image-one {
  box-shadow: 2px 2px 12px 0px #bfbbbb;
  background: url(https://images.unsplash.com/photo-1582836187212-8e11b734fb71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80) no-repeat center center;
  background-size: cover;

}

#image-two {
  box-shadow: 2px 2px 12px 0px #bfbbbb;
  background: url(https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center;
  background-size: cover;

}

.text-cards {
  font-weight: 300;
  margin: 10px auto;
  color: black;
  width: 70%;
  height: 200px;
  text-align: center
}

.text-banner {
  font-weight: 300;
  font-size: 40px;
  margin: auto auto;
  color: white;
  width: 70%;
  height: 200px;
  text-align: center
}

#card-one {
  width: 310px;
  height:200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: url(https://images.unsplash.com/photo-1595666944516-bbb485958fb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1800&q=80) no-repeat center center;
  background-size: cover;
}

#card-two {
  width: 310px;
  height:200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: url(https://images.unsplash.com/photo-1497354861845-d381fb7c91a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center;
  background-size: cover;
}

#card-three {
  width: 310px;
  height:200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: url(https://images.unsplash.com/reserve/bOvf94dPRxWu0u3QsPjF_tree.jpg?ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80) no-repeat center center;
  background-size: cover;
}
