<div class="footer d-flex flex-column justify-content-around">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/EqualS_search"><i class="fab fa-twitter"></i></a>
  </div>
</div>
