<form action="/search" class="searchbar" method="GET">
  <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-">
    <div class="input-group">
      <button id="button-addon1" type="submit" class="btn btn-link text-warning"><i class=" loop fa fa-search"></i></button>
      <input type="search" name="q" value="<%= params[:q] %>" placeholder="Search the web to support equality" aria-describedby="button-addon2" class="form-control border-0 bg-light rounded rounded-pill">
    </div>
  </div>
</form>
