
<%= link_to result[:link], class: "grid-image" do %>
  <div class="card-image">
    <%= image_tag result[:link_thumbnail], alt: result[:title] %>
    <p> <%= result[:title] %> </p>
  </div>
<% end %>
