<!-- coder ici la carte -->

<%= link_to result[:link], class: "result-card-web" do %>
  <h2> <%= result[:title] %>  </h2>
  <h3> <%= result[:link_display] %> </h3>
  <p> <%= result[:snippet] %> </p>
<% end %>
