
<li class="news-list-item">
  <%= link_to result[:link], class: "result-card-news", target: "_blank" do %>

    <div class= "card-image-news">
      <%= image_tag result[:image], alt: result[:title] %>
    </div>

    <div class="p-3">
      <h2> <%= result[:title] %>  </h2>
      <p> <%= time_ago_in_words(result[:date]) %> ago </p>
    </div>

  <% end %>
</li>
