
<%= link_to result[:link], class: "result-card-entity", target: "_blank" do %>
  <div class="p-2" style="margin-left: 5px">
    <div class= "card-image-entity">
      <%= image_tag result[:image], alt: result[:title], class: "image-size" %>
    </div>
    <h2> <%= result[:title] %>  </h2>
    <p> <%= result[:snippet] %> </p>
  </div>
<% end %>
