
<div class="container">
  <div class="results-60 mb-3">
    <%= render 'shared/searchbar' %>
  </div>
  <%= render 'results/navbar_results' %>

  <div class="images-grid">
    <% @images_results.each do |result|%>
      <%= render "results/image_result_card", result: result %>
    <% end %>
  </div>
</div>
