<%= render 'shared/searchbar' %>

<br>
<br>

<div class="container">
  <div class="results">
    <% @webpages_results.each do |result|%>
      <%= render "results/result_card", result: result %>
    <% end %>

  </div>
  <div class="focus">

  </div>
</div>
