<div class = "searchbar">
<h1 class="logo">
  <span  id="E">E</span>
  <span  id="Q">Q</span>
  <span  id="U">U</span>
  <span  id="A">A</span>
  <span  id="L">L</span>
  <span  id="S">S</span>
</h1>
 <%= render 'shared/searchbar' %>
</div>

<br>
<br>

<div class="container">
  <div class="results">
    <% @webpages_results.each do |result|%>
      <%= render "results/result_card", result: result %>
    <% end %>

  </div>
  <div class="focus">

  </div>
</div>
