<!-- ancien index avant modif pour entities -->

<div class="container">
  <div class="results-60 mb-3">
    <%= render 'shared/searchbar' %>
  </div>

  <%= render 'results/navbar_results' %>

  <div class="results-60">
    <% @webpages_results.each do |result|%>
      <%= render "results/result_card", result: result %>
    <% end %>

  </div>
  <div class="focus-40">

  </div>
</div>


