
<div id="full-screen-picture">
  <div class="container d-flex flex-column" style="height:100%; position:relative;">
    <div class="d-flex flex-column align-items-center search-position-top" >
      <div class = "searchbar">
        <%= render 'shared/logomove' %>
        <%= render 'shared/searchbar' %>
      </div>
      <div class="d-flex flex-column align-items-center text-under-search">
        <h1 style="padding-top: 1rem;"> 11,234,654 €</h1>
        <p>raised to support equality on <span>Earth</span> thanks to your <span>5,3 billion</span> searches</p>
        <h2>thank you !</h2>
      </div>
    </div>
    <div class="align-self-end legend-size">
      <h2 class="underline"> Simone Veil</h1>
      <p> En 1974, elle est nommée ministre de la Santé par le président Valéry Giscard d'Estaing, qui la charge de faire adopter la loi dépénalisant le recours à l'interruption volontaire de grossesse (IVG), loi qui sera ensuite couramment désignée comme la « loi Veil ». Elle apparaît dès lors comme icône de la lutte contre la discrimination des femmes en France. </p>
    </div>
  </div>
</div>

<div id="bellow-fold">
  <div class="container-profil" style="padding: 4rem;">
    <div style="width: 35%;">
      <span style="color:#6200DE;">Equals</span> fonctionne comme n'importe quel moteur de recherche classique,
      mais nos bénéfices sont utilisés pour financer des associations pour les femmes et les LGBT partout dans le monde
    </div>
    <div class="card-container-supports" style="width: 60%; background-size: contain; background-repeat: no-repeat; background-image: url(https://res.cloudinary.com/antoine83/image/upload/v1606415319/EqualS/Capture_d_e%CC%81cran_2020-11-26_a%CC%80_19.28.16_jjihxb.png)">
    </div>
  </div>
</div>

