<h1><span class="underline">show de homes</span></h1>
<div class=container>
 <div class="container-profil">
  <div class=container-insights>	
    <div class="card-insights"> Hello </div>
    <div class="card-insights"> Hello </div>
   </div>
  <div class="card-supports"> Hello </div>
 </div>
 <div class="card-charity">
  <div class="image"></div>
  <div class="display-card-charity">
  	<p>hello</p>
  	<p>short description</p>
  	<div card-charity-button>
  	<div class="btn"><a class="btn-principal" href="#">SUPPORT</a></div>
  	<div><a href="#" class="btn-third">INFORMATION</a></div>
  	</div>
  </div>	
</div>
 <div class="card-charity-circle">
  <div class="image"></div>
  <div class="display-card-charity-circle">
  	<p>hello</p>
  	<p>short description</p>
  	<div><a href="#" class="btn-principal">INFO</a></div>
  	</div>
  </div>	
</div>
</div>



