
<div id="full-screen-picture">
  <div class="container d-flex flex-column" style="height:100%; position:relative;">
    <div class="d-flex flex-column align-items-center search-position-top" >
      <%= render 'shared/searchbar' %>
      <div class="d-flex flex-column align-items-center text-under-search">
        <h1> 11,234,654 €</h1>
        <p>raised to support equality on <span>Earth</span> thanks to your <span>5,3 billion</span> searches</p>
        <h2>thank you !</h2>
      </div>
    </div>
    <div class="align-self-end legend-size">
      <h2 class="underline"> Simone Veil</h1>
      <p> En 1974, elle est nommée ministre de la Santé par le président Valéry Giscard d'Estaing, qui la charge de faire adopter la loi dépénalisant le recours à l'interruption volontaire de grossesse (IVG), loi qui sera ensuite couramment désignée comme la « loi Veil ». Elle apparaît dès lors comme icône de la lutte contre la discrimination des femmes en France. </p>
    </div>
  </div>

</div>

<div id="bellow-fold">

</div>












<br>
<br>
<br>
<br>
<h1> ------------------------------------------ </h1>
<h1> briques pour le front </h1>

<!-- ELEMENTS POUR LE FRONT -->




<div class="container-profil">
  <div class=container-insights>
    <div class="card-insights"> Hello </div>
    <div class="card-insights"> Hello </div>
  </div>
  <div class="card-container-supports"> Hello </div>
</div>

<!-- card charity pour les associations -->

 <div class="card-charity">
  <div class="image"></div>
  <div class="display-card-charity">
  	<p>hello</p>
  	<p>short description</p>
  	<div card-charity-button>
  	  <div class="btn"><a class="btn-principal" href="#">SUPPORT</a></div>
  	  <div>
        <a href="#" class="btn-third">INFORMATION</a>
      </div>
  	</div>
  </div>
  <div class="association-name"><p>HelloAsso</p></div>
</div>

<!-- card charity en cercle pour les asso supportées -->

 <div class="card-charity-circle">
  <div class="image"></div>
  <div class="display-card-charity-circle">
  	<p>hello</p>
  	<p>short description</p>
  	<div>
      <a href="#" class="btn-principal">INFO</a>
    </div>
  </div>
  </div>
</div>
</div>
