<div class="content-wraper" style="min-height: calc(100vh - 70px - 80px)">
  <div id="carouselExampleIndicators" class="carousel" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-block full-screen-picture" id="megane">
          <div class="align-self-end legend-size">
            <h4 class="underline">Megan Rapinoe</h4>
            <p>Megan Anna Rapinoe (born July 5, 1985) is an American professional soccer player. Winner of the Ballon d'Or Féminin and named The Best FIFA Women's Player in 2019, she is internationally known for her crafty style of play and activism. Rapinoe is an advocate for numerous LGBT organizations, including the Gay, Lesbian & Straight Education Network (GLSEN) and Athlete Ally.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-block full-screen-picture" id="gisele">
          <div class="align-self-end legend-size">
            <h4 class="underline">Gisele Halimi</h4>
            <p>Gisèle Halimi (born Zeiza Gisèle Élise Taïeb; 27 July 1927 – 28 July 2020) was a Tunisian-French lawyer, feminist, and essayist. Gisèle Halimi was a passionate defender of the women cause.As a lawyer, she defended FLN militants during the Algerian war and fought for the liberalization of abortion and the criminalization of rape.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-block full-screen-picture" id="alexandra">
          <div class="align-self-end legend-size">
            <h4 class="underline">Alexandria Ocasio-Cortez</h4>
            <p>Dame Jane Morris Goodall DBE (born on 3 April 1934), is an English primatologist and anthropologist. Considered to be the world's foremost expert on chimpanzees, Goodall is best known for her 60-year study of social and family interactions of wild chimpanzees since she first went to Gombe Stream National Park in Tanzania in 1960.She is the founder of the Jane Goodall Institute and the Roots & Shoots programme, and she has worked extensively on conservation and animal welfare issues.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-block full-screen-picture" id="jane">
          <div class="align-self-end legend-size">
            <h4 class="underline">Jane Goodall</h4>
            <p> French political figure, she served as Health Minister in several governments and was President of the European Parliament from 1979 to 1982, the first woman to hold that office. As health minister, she is best remembered for advancing women’s legal rights in France, in particular for the 1975 law that legalized abortion, today known as Loi Veil.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-block full-screen-picture" id="katherine">
          <div class="align-self-end legend-size">
            <h4 class="underline">Katherine Johnson</h4>
            <p>Katherine Johnson (August 26, 1918 – February 24, 2020) was an American mathematician whose calculations of orbital mechanics as a NASA employee were critical to the success of the first and subsequent U.S. crewed spaceflights. During her 35-year career at NASA, she earned a reputation for mastering complex manual calculations and helped pioneer the use of computers to perform the tasks. The space agency noted her "historical role as one of the first African-American women to work as a NASA scientist". Her work helped send astronauts to the Moon.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <i class="icon-next fas fa-chevron-right"></i>
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-full-screen-search">
  <div class="container d-flex flex-column" style="height:100%">
    <div class="container-searchbar d-flex flex-column align-items-center search-position-top" >
      <div class = "searchbar">
        <%= render 'shared/logomove' %>
        <%= render 'shared/searchbar' %>
      </div>
      <div class="d-flex flex-column align-items-center text-under-search">
        <h1 class="odometer" id="counter"><%= number_with_delimiter(@global_money, :delimiter => ',') %>€</h1>
        <div id="sentence">
          <p>raised to support equality
          thanks to your <span class="green-text"><%= number_with_delimiter(@global_search_count, :delimiter => ',') %> </span >searches.</p>
        </div>
        <h4>Thank you !</h4>
      </div>
    </div>
  </div>
</div>

<div class="container-bellow">
  <div class="card-presentation">
    <div id=image-one></div>
    <div class=container-text>
      <h4 class="title">Each time you search, EQUALS funds pro-feminists and pro-LGBT charities:</h4>
      <p class="text">EQUALS is like any other search engine, with one major difference: <strong>we use our profits to fund charities supporting feminists and LGBT causes</strong>. EQUALS will give to the charites most of the revenue generated by the advertising displayed on the search results</p>
      <p class="text">EQUALS gives you <strong> best-in-class search results </strong>and it's likely you won't even see the difference from your old search engine !</p>
    </div>
  </div>
  <div class="card-presentation">
    <div class=container-text id="container-text-two">
      <h4 class="title">Choose the causes that resonate to you:</h4>
      <p class="text">You can pick the charities you want to support with your searches and therefore <strong> act on the causes which are important to you.</strong> The donation happen on a yearly basis but you can change your choices whenever you want to.</p>
      <p class="text"> The charities will give you updates on how they used the fund to <strong> make things better for women and LGBP</strong> </p>
    </div>
    <div id=image-two></div>
  </div>
  <div class="banner">
    <div class="text-banner">
      <p>Your searches make the world a better place.</p>
    </div>
  </div>
  <div class="container-cards">
    <div class= cards-infos>
      <div id="card-one"></div>
      <div class="text-cards">
       <h6>We don't track you</h6>
        <p>Your privacy is important to us so we don't  sell your data to third parties and make sure to anonymize all your searches</p>
      </div>
    </div>
    <div class= cards-infos>
      <div id="card-two">
      </div>
      <div class="text-cards">
       <h6>We take care of your causes</h6>
       <p>We follow the funds you gave to the charities and give you updates on how the charities acted for your causes</p>
      </div>
    </div>
    <div class= cards-infos>
      <div id="card-three">
      </div>
      <div class="text-cards">
       <h6>We are CO2 neutral</h6>
       <p>Our server run on renewable energy and we compensate all the CO2 generated by EqualS</p>
      </div>
    </div>
  </div>
</div>


