<h1>show de homes</h1>


<form class="form-inline my-2 my-lg-0" action="/search" method="GET">
  <!-- convention REST: si on cherche des infos c'est un GET -->
  <input class="form-control mr-sm-2 search-bar-hp" name="q" type="search" placeholder="Search the web to support equality" aria-label="Search" value="<%= params[:q] %>">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>



<!-- ELEMENTS POUR LE FRONT -->

<div class = "searchbar">
<h1 class="logo">
  <span  id="E">E</span>
  <span  id="Q">Q</span>
  <span  id="U">U</span>
  <span  id="A">A</span>
  <span  id="L">L</span>
  <span  id="S">S</span>
</h1>
 <%= render 'shared/searchbar' %>
</div>


<div class="container-profil">
  <div class=container-insights>
    <div class="card-insights"> Hello </div>
    <div class="card-insights"> Hello </div>
  </div>
  <div class="card-container-supports"> Hello </div>
</div>

<!-- card charity pour les associations -->

 <div class="card-charity">
  <div class="image"></div>
  <div class="display-card-charity">
  	<p>hello</p>
  	<p>short description</p>
  	<div card-charity-button>
  	  <div class="btn"><a class="btn-principal" href="#">SUPPORT</a></div>
  	  <div>
        <a href="#" class="btn-third">INFORMATION</a>
      </div>
  	</div>
  </div>
  <div class="association-name"><p>HelloAsso</p></div>
</div>

<!-- card charity en cercle pour les asso supportées -->

 <div class="card-charity-circle">
  <div class="image"></div>
  <div class="display-card-charity-circle">
  	<p>hello</p>
  	<p>short description</p>
  	<div>
      <a href="#" class="btn-principal">INFO</a>
    </div>
  </div>
  </div>
</div>
</div>
