@mixin boxShadow($colour, $length){
  $value: ();
  @for $i from 1 through $length{
    $px: $i + px;
    $shadow: $px $px $colour;
    $value: append($value, $shadow, comma)

  }
  box-shadow: $value;
}

// <!-- container et cards pour la disposition des insights et des asso supportées

.container {
}

.container-profil {
  display: flex;
  margin-left: 0 auto;

}

.container-insights {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}


.card-insights {
  background-color: white;
  width: 400px;
  height: 190px;
  padding: 20px;
  @include boxShadow($purple-other, 5);
}

.card-container-supports {
  background-color: white;
  width: 800px;
  height: 400px;
  padding: 20px;
  margin-left: 20px;
  @include boxShadow($purple-other, 5);
}

// card pour chaque association:

.card-charity {
  display: flex;
  position: relative;
  border-radius: 3px;
  width: 250px;
  height: 300px;
  background-size: cover;
  margin-top: 40px;
  box-shadow: 2px 2px 12px 0px #bfbbbb;
  .association-name {
    position: absolute;
    width: 250px;
    bottom: -45px;
    text-align: center;
    p {
      color: $green-text;
    }
  }

}

.display-card-charity {
  position: relative;
  opacity: 0;
  color: white;
  font-weight:300;
  text-align: center;
  padding-top: 100px;
  width: 250px;
  height: 300px;
}

.display-card-charity:hover {
  opacity: 1;
  color: white;
  transition-duration: 0.5s;
}

.overlay-charity {
  position: absolute;
  width: 250px;
  height: 300px;
}



.card-charity:hover {
    background-size: cover;
    @include boxShadow($purple-other, 5);
    .overlay-charity {
      background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
      transition: 0.3s;
    }
    .association-name {
      opacity: 0;
      transition: 0.3s;
    }
    transition: 0.3s;
}

// card les associations supportées par l'utilisateur:

.card-charity-circle {
  display: flex;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  background-size: cover;
  margin-top: 50px;
  box-shadow: 2px 2px 12px 0px #bfbbbb;
}

.display-card-charity-circle {
  opacity: 0;
  color: white;
  font-weight:300;
  text-align: center;
  padding-top: 50px;
  width: 250px;
  height: 300px;
}

.overlay-supports {
  position: absolute;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.display-card-charity-circle:hover {
  opacity: 1;
  color: white;
  transition-duration: 0.5s;
}
.card-charity-circle:hover {
    background-size: cover;
    .overlay-supports {
      background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
      transition: 0.3s;
    }
    transition: 0.5s;

}


