
.results-60 {
  width: 60%;
}

.focus-40 {
  width: 40%;
}

.result-card-web  h2 {
  color: #1a0dab;
  font-size: 16px;
}

.result-card-web  h3 {
  color: $green-text;
  font-size: 13px;
  text-decoration: none;
}

.result-card-web  p {
  color: #353535;
  font-size: 13px;
  text-decoration: none;
}

.result-card-web:hover {
  h2 {
    text-decoration: underline;
  }
  text-decoration: none !important;
}

.navbar-tabs {
  width: 100%;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: flex-start;
}

.navbar-item {
  padding: 0px 10px 10px 10px;
}

.navbar-item-active {
  a {
    color: $green-text;
  }
  border-bottom-style: solid;
  border-width: medium;
  border-color: $green-text;
  // classe à rajouter en js
  // envent listener click, on ajoute dans le html cliqué la classe active
  // document.queryselector(div qui contient tous les endroits --> ul)
  // dessus on ajoute un addeventlistner clic
}

.navbar-link {
  text-decoration: none;
  color: $grey-text;
}

.navbar-link:hover {
  text-decoration: none;
  color: $green-text;
}

.grid-images {
  display: flex;
  align-item: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}

.grid-image {
  text-decoration: none;
  color: $grey-text;
  margin: 10px;
  width: auto;
}

.grid-image:hover {
  text-decoration: none;
  color: $grey-text;
}

.card-image {
  width: 100%;
  img {
    height: 200px;
    width: auto;
  }
  p {
    font-size: 14px;
    width: auto;
  }
}

@media(max-width: 992px) {
  .images-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .images-grid {
    grid-template-columns: 1fr;
  }
}


