
.results-60 {
  width: 60%;
}

.focus-40 {
  width: 40%;
}

.result-card-web  h2 {
  color: #1a0dab;
  font-size: 16px;
}

.result-card-web  h3 {
  color: #00644d;
  font-size: 13px;
  text-decoration: none;
}

.result-card-web  p {
  color: #353535;
  font-size: 13px;
  text-decoration: none;
}

.result-card-web:hover {
  h2 {
    text-decoration: underline;
  }
  text-decoration: none !important;
}

.navbar-tabs {
  width: 100%;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: flex-start;
}

.navbar-item {
  padding: 0px 10px 0px 0px;
}

.navbar-item-active {
  // classe à rajouter en js
  // probablement mettre le surlignage violet
}

.navbar-link {
  text-decoration: none;
  color: $grey-text;
}

.navbar-link:hover {
  text-decoration: none;
  color: $purple-text;
}

.images-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.images-results-grid {
  width: 200px;
}

@media(max-width: 992px) {
  .images-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .images-grid {
    grid-template-columns: 1fr;
  }
}


