@mixin boxShadow($colour, $length){
  $value: ();
  @for $i from 1 through $length{
    $px: $i + px;
    $shadow: $px $px $colour;
    $value: append($value, $shadow, comma)

  }
  text-shadow: $value;
}

.searchbar {
  width: 70%;
  margin: 0 auto;
  color: $back-screen;
   .logo {
  z-index: -1;
  text-align: center;
  letter-spacing: -6px;
  margin-left: -7%;
  font-size: 44px;
  font-family: 'Archivo', sans-serif;
  }
}

.searchbar-form {
  position: relative;
}

.searchbar:hover {
    #E{
    color: white;
    @include boxShadow(#6200de, 55);
    transition-duration: 0.5s
    }
    #Q{
    color: white;
    @include boxShadow(#f9db6d, 55);
    transition-duration: 0.5s
    }
    #U{
    color: white;
    @include boxShadow(#36827f, 55);
    transition-duration: 0.5s
    }
    #A{
    color: white;
    @include boxShadow(#d57a66, 55);
    transition-duration: 0.5s
    }
    #L{
    color: white;
    @include boxShadow(#74a4bc, 55);
    transition-duration: 0.5s
    }
    #S{
    color: white;
    @include boxShadow(#6200de, 55);
    transition-duration: 0.5s
    }
}

.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.loop {
  color: $purple-text
}

.search-position-top {
  position: relative;
  top: 10vw; // pas vh, petite feinte pour la position en y en fonction de 10% de la largeur
              // (il faudra faire du responsive pour les tailles mobiles)
}

#new_search .form-group {
  flex: 1; // ça fait du flex-grow et flex-shrink en mm temps
}
