.underline {
  background-image: linear-gradient(120deg, $purple-other 0%,  $purple-other 0%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position-x: 10px;
  background-position-y: 80%;
  width: -webkit-fit-content; // pour que ça fite au contenu
  width: -moz-fit-content; // pour firefox
}
